@model List<Setting>
@{ ViewData["Title"] = "Home Page"; }






<section class="slider_section">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @{ IEnumerable<Slider> slider = ViewData["Slider"] as IEnumerable<Slider>;
                foreach (var item in slider)
                {
                    if (item.Id == 1)
                    {
    <div class="carousel-item active">

        <div class="container">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-bg">
                            <span>@item.SupTitle</span>
                            <h1>@item.SubTitle</h1>
                            <p>@item.Text</p>
                            <a href="#">Music & Entertainment</a> <a href="#">Buy Tickets </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> }

if (item.Id == 2)
{
<div class="carousel-item">

    <div class="container ">
        <div class="carousel-caption">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-bg">
                        <span>@item.SupTitle</span>
                        <h1>@item.SubTitle</h1>
                        <p>@item.Text</p>
                        <a href="#">Music & Entertainment</a><a href="#">Buy Tickets </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> }


if (item.Id == 3)
{
<div class="carousel-item">

    <div class="container">
        <div class="carousel-caption ">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-bg">
                        <span>@item.SupTitle</span>
                        <h1>@item.SubTitle</h1>
                        <p>@item.Text</p>
                        <a href="#">Music & Entertainment</a> <a href="#">Buy Tickets </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> }

} }


        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>

        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

        </a>
    </div>



</section>
</header>





<!-- about  -->
@{ IEnumerable<AboutUs> aboutUs = ViewData["AboutUs"] as IEnumerable<AboutUs>;

    foreach (var item in aboutUs)
    {
<div id="about" class="about" style="background: url(../images/@item.BackgroundImage); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="container">
        <div class="row display_boxflex">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-box">
                    <h2>About Us</h2>
                    <p>@item.Text</p>
                    <a href="Javascript:void(0)">Read More</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-box">
                    <figure><img src="~/images/@item.Image" alt="Guitarist Ramish" /></figure>
                </div>
            </div>
        </div>
    </div>
</div> } }

<!-- end abouts -->
<!-- upcoming -->
@{ IEnumerable<Concert> concert = ViewData["Concert"] as IEnumerable<Concert>;

    foreach (var item in concert)
    {
                    <div id="upcoming" class="upcoming">
                        <div class="container-fluid padding_left3">
                            <div class="row display_boxflex">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                    <div class="box_text">
                                        <div class="titlepage">
                                            <h2>@item.Title</h2>
                                        </div>
                                        <p>@item.Text</p>
                                        <a href="Javascript:void(0)">Read More</a>
                                    </div>
                                </div>

                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 border_right">
                                    <div class="upcomimg">
                                        @{ 
                                            IEnumerable<ConcertImage> concertImage = ViewData["ConcertImage"] as IEnumerable<ConcertImage>;
                                            foreach (var image in concertImage)
                                            {
                                                if (image.Id == item.Id)
                                                {
                                                    <figure><img src="images/@image.Image" alt="#" /></figure>
                                                }
                                            }
                                            
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                } }

<!-- end upcoming -->
<!-- Gallery -->


@*<div id="gallery" class="Gallery">
    <div class="container">
        <div class="row display_boxflex">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margi_bott">
                        <div class="Gallery_img">
                            <figure><img src="images/Gallery1.jpg" alt="#" /></figure>
                        </div>
                        <div class="hover_box">

                            <ul class="icon_hu">
                                <h3>Music night</h3>
                                <li><a href="#"><img src="icon/h.png" alt="#" /></a></li>
                                <li><a href="#"><img src="icon/h.png" alt="#" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margi_bott">
                        <div class="Gallery_img">
                            <figure><img src="images/Gallery2.jpg" alt="#" /></figure>
                        </div>
                        <div class="hover_box">

                            <ul class="icon_hu">
                                <h3>Music night</h3>
                                <li><a href="#"><img src="icon/h.png" alt="#" /></a></li>
                                <li><a href="#"><img src="icon/h.png" alt="#" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margi_bott1">
                        <div class="Gallery_img">
                            <figure><img src="images/Gallery3.jpg" alt="#" /></figure>
                        </div>
                        <div class="hover_box">

                            <ul class="icon_hu">
                                <h3>Music night</h3>
                                <li><a href="#"><img src="icon/h.png" alt="#" /></a></li>
                                <li><a href="#"><img src="icon/h.png" alt="#" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="Gallery_img">
                            <figure><img src="images/Gallery4.jpg" alt="#" /></figure>
                        </div>
                        <div class="hover_box">

                            <ul class="icon_hu">
                                <h3>Music night</h3>
                                <li><a href="#"><img src="icon/h.png" alt="#" /></a></li>
                                <li><a href="#"><img src="icon/h.png" alt="#" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Gallery_text">
                    <div class="titlepage">
                        <h2>Gallery</h2>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to usin</p>
                    <a href="Javascript:void(0)">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!-- end Gallery -->


<div id="gallery" class="Gallery">
    <div class="container">
        <div class="row display_boxflex">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    @{ IEnumerable<Gallery> gallery = ViewData["Gallery"] as IEnumerable<Gallery>;
                        foreach (var item in gallery)
                        {
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margi_bott">
                                <div class="Gallery_img">
                                    <figure><img src="~/images/@item.Image" alt="#" /></figure>
                                </div>
                                <div class="hover_box">

                                    <ul class="icon_hu">
                                        <h3>@item.Title</h3>
                                        <li><a href="@item.Link1"><img src="~/icon/h.png" alt="#" /></a></li>
                                        <li><a href="@item.Link2"><img src="~/icon/h.png" alt="#" /></a></li>
                                    </ul>
                                </div>
                            </div>
                        }}


                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Gallery_text">
                    <div class="titlepage">
                        <h2>Gallery</h2>
                    </div>
                    @{ 
                        foreach (var item in Model)
                        {
                            <p>@item.GalleryText</p>
                        }
                    }
                    
                    <a href="Javascript:void(0)">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>